@import url(//db.onlinewebfonts.com/c/1e20e698946e398f2ad70318ce64c215?family=Salome);

@font-face {font-family: "Salome"; src: url("//db.onlinewebfonts.com/t/1e20e698946e398f2ad70318ce64c215.eot"); src: url("//db.onlinewebfonts.com/t/1e20e698946e398f2ad70318ce64c215.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1e20e698946e398f2ad70318ce64c215.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1e20e698946e398f2ad70318ce64c215.woff") format("woff"), url("//db.onlinewebfonts.com/t/1e20e698946e398f2ad70318ce64c215.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1e20e698946e398f2ad70318ce64c215.svg#Salome") format("svg"); }

@font-face {
font-family: 'Basier Circle Regular';
font-style: normal;
font-weight: normal;
src: url('/fonts/Basier Circle Regular') format('woff');
}

.top_bar {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.bg {
  background-color:#22177D;
}

.no_show {
  display: none !important;
}

.mobile {
  display: none;
}

.container_wide {
  position: relative;
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
  background: rgb(64,39,229);
  background: linear-gradient(225deg, rgba(64,39,229,1) 0%, rgba(33,23,125,1) 100%);
}

.blue_btn {
  border-radius: 25px;
  padding: 5px 20px;
  border-color: transparent;
  background-color: #21177D;
  color: white;
  font-weight: bolder;
}

.main_stuff {
  margin: 0 auto;
  height: calc(100vh);
  width: calc(80vw);
  position: absolute;
   background-image: url(asset_path("grid.png"));
   background-size:contain;
}

.images {
  background-image: url(asset_path("Kodo_conf.jpg"));
  margin: 0 auto;
  margin-top: -50px;
  background-size: contain;
  width: 510px;
  height: 510px;
  position:relative;
}

.img_info {
  width: 600px;
  margin: 0 auto;
  height: auto;
}

.info {
  margin-top: 54px;
  text-align: center;
  color: white;
  .know_again {
    font-family: "Salome";
  }
  .xp {
    font-size :20px;
    font-weight: bolder;
  }
}

.kodo_logo {
  position: absolute;
  height: 120px;
  left: 80px;
  bottom: -43px;
}

.opacity {
  height: 100vh;
  width: calc(80vw);
  margin: 0 auto;
  background-color: #1E1575;
  filter: opacity(90%);
}

.mail {
  position: absolute;
  top: 10px;
  left:30px;
  color:white;
  font-size: 1.5em;
  border-bottom: 2px #E8F009 solid;
  z-index:3;
}

.wip {
  margin-left: 66.67%;
  width: 33.33%;
  height: 50px;
  background-color: #E8F009;
  position: relative;
  text-align: center;
  z-index: 1;
  p {
    color: #22177D;
  }
}

.box_title {
  display: flex;
  margin: 0 auto;
  width: 66%;
  justify-content: space-evenly;
  }

.icons > img {
  height: 25px;
  margin-top: 13px;
}

.flex-vertical {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.tab-extended {
  transition: top 5s !important;
      -webkit-transition: top 5s !important;
      -moz-transition: top 5s !important;
  height: 50vh !important;
}

.wip_content {
  padding-top: 30px;
}

.nl_content {
  margin-top: 20px;
  .subtitle {
    font-weight: bolder;
    font-family: "Salome";
    font-size: 24px;
  }
}

.fllw_content {
  height: calc(50vh - 100px);
}


.low_bar {
  position: absolute;
  bottom: 0px;
  width: 80vw;
  display: flex;
  align-items: flex-end;
  .title {
    font-weight: bolder;
    color: white;
    font-size: 1.5em;
    margin-top: 8px;
    cursor: pointer;
  }
  .newsletter, .newsletterm{
    position: relative;
    width: 33.33%;
    height: 50px;
    background-color: #E8F009;
    text-align: center;
    .title:after {
      background-image: image-url("NL.png");
      background-size: 20px 20px;
      height: 20px;
      width: 20px;
      content: "";
    }
    p {
      color: #22177D;
      padding: 0px 16px;
    }
  }
   .know_more, .know_morem{
    position: relative;
    width: 33.33%;
    height: 50px;
    background-color: #4027E5;
    text-align: center;
    p {
      color: white;
      padding: 0px 16px;
      }
    }
   .follow, .followm {
    position: relative;
    width: 33.33%;
    height: 50px;
    background-color: white;
    text-align: center;
    p {
      color: #22177D;
      padding: 0px 16px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .container_wide {
    width: 100vw;
  }

  .box_title {
    flex-direction: column;
    width: 100%;
    p {
      padding: 0px 4px !important;
    }
    .title {
      font-size: 16px;
      margin-top: 22px;
      margin-bottom: 0px;
    }

    .icons > img {
    }
  }

  .main_stuff {
    width: 100%;
  }

  .kodo_logo {
      height: 69px;
      left: -87px;
      bottom: -43px;
  }

  .img_info {
    width: 100%;
  }
  .images {
  background-image: url(asset_path("Kodo_conf.jpg"));
  height: 375px;
  margin-top: 50px;
  width: 100%;
  }

  .kodo_logo {
    left: calc(50% - 104px);
    bottom: -23px;
  }

  .wip {
    width: 100vw;
    margin: 0 !important;
  }

  .low_bar {
    width: 100vw;
    .newsletterm, .know_morem, .followm {
      height: 100px;
    }
  }

  .km_contentm, .nl_contentm, .fllw_contentm {
    position: absolute;
    bottom: 100px;
    height: 410px;
    width: 100vw;
  }

  .km_contentm {
    background-color: blue;
  }

  .nl_contentm {
    background-color: yellow;
  }

  .fllw_contentm {
    background-color: pink;
  }
}


